In [ ]:
import pandas as pd
import numpy as np

# Задача 1 
Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

# Задача 2
Разделить таблицу данных на четыре одинаковых части.

# Задача 3
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [24]:
df = pd.read_csv('beverage_r.csv', sep=';', encoding='utf-8', index_col=0)
df.head()

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
1            1       0        0      0      1       1    0        1
2            1       0        0      0      1       0    0        0
3            1       0        0      0      1       0    0        0
4            0       1        0      1      0       0    1        0
5            1       0        0      0      1       0    0        0

In [ ]:
# Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений
train_df = df.sample(frac=0.66, random_state=42)
test_df = df.drop(train_df.index)

In [26]:
# Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.33, random_state=42)
print('Соотношение размеров обучающей и тестовой выборок в процентах:')
print(f'Обучающая выборка: {len(train_df) / len(df) * 100:.2f}%')
print(f'Тестовая выборка: {len(test_df) / len(df) * 100:.2f}%')
train_df.head()

Соотношение размеров обучающей и тестовой выборок в процентах:
Обучающая выборка: 64.71%
Тестовая выборка: 35.29%

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
17           0       1        0      0      0       1    0        0
18           1       1        0      0      1       0    0        0
6            1       0        0      0      1       1    0        0
14           1       0        0      0      0       1    0        0
12           0       1        0      0      0       0    1        0

In [ ]:
# Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений,
# а в тестовую выборку 33% наблюдений без использования sklearn и pandas sample.
df = pd.read_csv('beverage_r.csv', sep=';', encoding='utf-8')
df.head()
np.random.seed(42)  # для воспроизводимости
mask = np.random.rand(len(df)) < 0.5
train_df = df[mask]
test_df = df[~mask]
print('Соотношение размеров обучающей и тестовой выборок в процентах:')
print(f'Обучающая выборка: {len(train_df) / len(df) * 100:.2f}%')
print(f'Тестовая выборка: {len(test_df) / len(df) * 100:.2f}%')
train_df.head()

Соотношение размеров обучающей и тестовой выборок в процентах:
Обучающая выборка: 55.88%
Тестовая выборка: 44.12%

    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0          1     1       0        0      0      1       1    0        1
4          5     1       0        0      0      1       0    0        0
5          6     1       0        0      0      1       1    0        0
6          7     0       1        1      1      0       0    1        0
10        11     1       0        0      0      1       1    0        0

In [28]:
# Разделить таблицу данных на четыре одинаковых части c помощью склерн
from sklearn.model_selection import train_test_split
part1, temp = train_test_split(df, test_size=0.75, random_state=42)
part2, temp = train_test_split(temp, test_size=0.6667, random_state=42)
part3, part4 = train_test_split(temp, test_size=0.5, random_state=42)
print(f'Размер части 1: {len(part1)}')
print(f'Размер части 2: {len(part2)}')
print(f'Размер части 3: {len(part3)}')
print(f'Размер части 4: {len(part4)}')

Размер части 1: 8
Размер части 2: 8
Размер части 3: 9
Размер части 4: 9

In [ ]:
# Разделить таблицу данных на две стратифицированные подвыборки.
# По переменным кока-кола и pepsi
from sklearn.model_selection import train_test_split
stratify_cols = df[['SPRITE', 'PEPSI']]
train_df, test_df = train_test_split(df, test_size=0.33, random_state=42, stratify=stratify_cols)
print('Соотношение размеров обучающей и тестовой выборок в процентах:')
print(f'Обучающая выборка: {len(train_df) / len(df) * 100:.2f}%')
print(f'Тестовая выборка: {len(test_df) / len(df) * 100:.2f}%')

Соотношение размеров обучающей и тестовой выборок в процентах:
Обучающая выборка: 64.71%
Тестовая выборка: 35.29%

In [ ]:
# доказательство что стратификация сработала
print('Распределение в исходной таблице:')
print(df[['SPRITE', 'PEPSI']].value_counts(normalize=True).sort_index())
print('Распределение в обучающей выборке:')
print(train_df[['SPRITE', 'PEPSI']].value_counts(normalize=True).sort_index())
print('Распределение в тестовой выборке:')
print(test_df[['SPRITE', 'PEPSI']].value_counts(normalize=True).sort_index())

Распределение в исходной таблице:
SPRITE  PEPSI
0       0        0.352941
        1        0.323529
1       0        0.176471
        1        0.147059
Name: proportion, dtype: float64
Распределение в обучающей выборке:
SPRITE  PEPSI
0       0        0.363636
        1        0.318182
1       0        0.181818
        1        0.136364
Name: proportion, dtype: float64
Распределение в тестовой выборке:
SPRITE  PEPSI
0       0        0.333333
        1        0.333333
1       0        0.166667
        1        0.166667
Name: proportion, dtype: float64